{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container mt-5">

     <h2 class="text-center mt-2 mb-5 fw-light"> Enjoy the tour</h2>
     <div class="d-flex justify-content-end mt-5 mb-5">
        <div class="dropdown">
            <button id="dropdownMenuButton" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Please chose the Meal Group </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/">All Meals</a></li>
                <li><a class="dropdown-item" href="/vegan">Vegan</a></li>
                <li><a class="dropdown-item" href="/vegetarian">Vegetarian</a></li>
                <li><a class="dropdown-item" href="/lowcarb">Low-Carb</a></li>
                <li><a class="dropdown-item" href="/glutenfree">Gluten-free</a></li>
                <li><a class="dropdown-item" href="/dairyfree">Dairy-free</a></li>
            </ul>
        </div>
    </div>
    
    <div class="row" id="section">
        {% for meal in meals %}
            <div class="col-10 offset-1 col-md-4 offset-md-0">
                <div class="card h-100 bg-transparent mb-4" >
                 <img class="card-img-top" src="{{ meal.image }}">
                    <div class="card-body shadow bg-light">
                        <h5 class="card-title">{{ meal.name }}</h5>
                        <h5 class="card-title">{{ meal.description }}</h5>
                        <h5 class="card-title">{{ meal.prep_time }}</h5>
                        <a href="/edit/{{ meal.id }}" class="btn btn-outline-success  fw-light rounded-pill">edit</a>
                        <a href="/details/{{ meal.id }}" class="btn btn-outline-warning  fw-light rounded-pill">details</a>
                        <a href="/delete/{{ meal.id }}" class="btn btn-outline-danger  fw-light rounded-pill" onclick="return confirm('Are you sure you want to delete this?')">delete</a>  
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<div>

{% endblock %}
